<a href="https://colab.research.google.com/github/ChristianDuffyVauxhallFinance/academy/blob/main/First_Training_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 18.6MB/s]
100% 11.6M/11.6M [00:00<00:00, 37.6MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 31.7MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [12]:
#Python Baisics
#This is a comment
7+3 #addition = 10
7-3 #subtraction
7*3 #multiplication
21/2 #Simple Division
21//2 #Rounded Division 
21%2 #Module this how many remainder after the calculation is complete
21**2 #Exponential multiplication

'''
This is also a comment that Python will quote
'''

'\nThis is also a comment\n'

In [11]:
a==2

True

In [ ]:
  #Define Variables
  a=2
  a==2 # asks if this is true (does a = 2?)

In [36]:
#Variables are case sensitive
b=3
B=4
c='test'

In [34]:
#you can query the type of data. You must run the previous code for c="test" to be incorporated into the memory of the code
type(c)

str

In [31]:
my_list=[3, 3, 9, 2]
my_list

[3, 3, 9, 2]

In [62]:
cities = ['Paris', 'Zurich', 'Rome', 'Berlin', 'London']
print(cities[0]) #List starts with 0 in terms of indexing, so this would be Paris
print(cities[-1]) #by using minus 1, we will end up with London as this will work backwards
cities[0] #Print is used to see the different steps (for querying), you would not really use "Print" in the coding. 
cities[3]==cities[-2] #This demonstrates the different directions this will run through the list. By checking does Rome equal Rome

#Modify a list
cities[2] = 'Milan'
print(cities)

type(cities) #Again, have to make sure that the previous coding has run

#Insert an element in list between Zurich and Milan (rememeber the list starts at 0!!)
cities.insert(2,"Hong Kong")
print(cities)

#add element to end (append)
cities.append('Rio')
print(cities)

#Remove element - you have to specify the name, you cannot specify the position
cities.remove("Paris")
print(cities)

#count elements - use len, NOT COUNT
len(cities)

#insert number 2 (this will not insert a city name as 2 is just a number)
cities.insert(2,2)
print(cities)
cities.append(2)
print(cities)

cities.remove(2) #This will remove the first number 2 in the list!
print(cities)

print(cities.index("Hong Kong")) #This retrieves the position number of the element in the list (so Hong Kong is in position 1)

#concatenate two lists
new_list = [1, 3, 5, 2]
cities =cities +new_list
print(cities)

Paris
London
['Paris', 'Zurich', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London', 'Rio']
['Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London', 'Rio']
['Zurich', 'Hong Kong', 2, 'Milan', 'Berlin', 'London', 'Rio']
['Zurich', 'Hong Kong', 2, 'Milan', 'Berlin', 'London', 'Rio', 2]
['Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London', 'Rio', 2]
1
['Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London', 'Rio', 2, 1, 3, 5, 2]

In [64]:
#if you run a separate cell code multiple times for the cities adding 2, it will do it over and over again adding "2" to the list each time you run the cell/code
cities.append(2)
print(cities)

['Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London', 'Rio', 2, 1, 3, 5, 2, 2, 2]

In [66]:
#below is a nested function, this will do a loop and remove any number 2 in the list
ValueToBeRemoved = 2
cities = [value for value in cities if value != ValueToBeRemoved]
print(cities)

['Zurich', 'Hong Kong', 'Milan', 'Berlin', 'London', 'Rio', 1, 3, 5]

In [69]:
#coditions, loops and functions

#if statement
val=-7
if val > 0:
  print ('the vaue is positive')
elif val < -9:
  print('the value is negative')#it will only take the first true condition if one tries to override it!!
elif val < 0:
  print('fert')
else:
  print('the value equals 0')

fert

In [70]:
new_list_ex_condition = [0, 1, 2, 3, 4]
if 7 not in new_list_ex_condition:
  print('indeed')

indeed

In [78]:
#pandas and numpy are libraries containing functions (def) that loads of people very clever people have created
#you can shorthand pandas to pd
#you can shorthand numpy as np
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [79]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [80]:
df.head() #df we defined as the contents of the csv file. head is the heading, we can define more headings

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [82]:
df.head(8)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7

[8 rows x 12 columns]

In [83]:
df.tail(3) # get the last entries on the dataset

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[3 rows x 12 columns]

In [84]:
df.dtypes #get all the data types in the dataset, does not need parenthesis

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [85]:
df.describe() # different features of the datasets

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [88]:
df.shape #does not need parenthesis

(1599, 12)

In [90]:
len(df)

1599

In [91]:
df['fixed acidity'].head(2)

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [93]:

df[['fixed acidity', 'volatile acidity']].head(2) #for querying 2 or more elements, must use 2 square brackets

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88

In [97]:
#filter by row:
#"df['fixed acidity'] >7" just doing this will only result in boolean output per row (true or false)
#we need to use a variable, in the exmple below, we define mask1 as the filter 
mask1 =df['fixed acidity'] >7
df[mask1]
#you can then set the database as a new dataset with the filter included, e.g. df2 is now the df with items filered >7
df2 = df[mask1]

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1576            8.0              0.30         0.63  ...       0.78     10.8        6
1580            7.4              0.35         0.33  ...       0.60     11.9        6
1585            7.2              0.39         0.44  ...       0.84     11.5        6
1586            7.5              0.31         0.41  ...       0.85     11.4        6
1588            7.2              0.66         0.33  ...       0.78     12.8        6

[1237 rows x 12 columns]

In [98]:
mask2 =df['fixed acidity'].between(7,8)
df[mask2]
df2 = df[mask2]

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
4               7.4              0.70         0.00  ...       0.56      9.4        5
5               7.4              0.66         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1576            8.0              0.30         0.63  ...       0.78     10.8        6
1580            7.4              0.35         0.33  ...       0.60     11.9        6
1585            7.2              0.39         0.44  ...       0.84     11.5        6
1586            7.5              0.31         0.41  ...       0.85     11.4        6
1588            7.2              0.66         0.33  ...       0.78     12.8        6

[546 rows x 12 columns]

In [99]:
#helpful link is pandas query documentation, found here - https://pandas.pydata.org/docs/

In [102]:
#this is a way of carrying out multiple lines, condensed into 1 line
df[mask2][['fixed acidity', 'density']].min()

fixed acidity    7.00000
density          0.99007
dtype: float64

In [ ]:
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here:
# https://www.kaggle.com/mamtadhaker/lt-vehicle-loan-default-prediction
!kaggle datasets download -d mamtadhaker/lt-vehicle-loan-default-prediction
!unzip lt-vehicle-loan-default-prediction.zip